.form-pagination {
  margin-top: 2em;
  display: flex;
  justify-content: center;
  gap: 1em;

  .circle {
    background-color: #adadad;
    
    height: 10px;
    width: 10px;
    border-radius: 5px;
  }

  .circle.active {
    background-color: #333;
  }
}

@media (max-width: 425px) {
  .form-pagination {
    display: none;
  }
}