/* TABLE - MANAGE SURVEY */
.action-button {
  background-color: #fff;
  border: none;
  cursor: pointer;
}

.action-button.view svg{
  fill: var(--view);
}

.action-button.edit svg{
  fill: var(--edit);
}

.action-button.delete svg{
  fill: var(--delete);
}


table {
  background-color: #fff5;
  border: 1px solid #ccc;
  border-radius: 1rem;

  overflow: auto;

  p {
    margin: 0;
  }

  td {
    border-bottom: 1px solid #ccc;
    padding: .4em;
  }

  th {
    padding: .4em;
    background-color: #f4f4f4;
  }

  input[type="number"] {
    font-size: 1rem;
    width: 90%;
    padding: 5px;
    border: none;
    text-align: center;
    outline: none;
  }
}

tbody {
  border-radius: 1rem;
}


